
body {
  background: rgb(238, 237, 237);
} 

.navbar-brand {
  background: teal;
  font-weight: bold;
  padding: 5px;
}

.navbar {
  background: white;
}

#brand {
  color: white;
}

 .btn-primary {
   background: transparent;
   border: transparent;
   color: rgb(68, 67, 67);
 }

 .c-d {
  color: rgb(68, 67, 67);
 }

 .nav li {
  padding: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.content{
    margin-top:100px;
}

h1 {
    font-size: 28px;
    color: teal;
    font-weight: bold;
    text-align: left;
}

h2 {
    color: teal;
    font-size: 24px;
    font-weight: bold;
    text-align: center
}

.box {
  background:white;
}

.box-left {
  padding: 20px;
}

.box-right {
  padding: 20px;
}

.box-single {
  padding: 20px;
  margin-top: 10px;
  margin-right: 70px;
  margin-left: 70px;
}

.box-table {
  padding: 20px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

#summary {
  margin: 10px;
  font-size: 17px;
  line-height: 1.8em;
}


#landing-viz {
  padding:5px 5px 5px 5px;
  width: 100%;
  height: 100%;
}

.active{
  border: 2px solid teal;
}

#viz-main {
  padding: 10px 20px 10px 20px;
  width: 100%;
 }

 table {
  width: 100%;
}



@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
  }

@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
      margin-top: 0;
  }
}

@media (max-width: 992px) {
  .navbar {
    background: teal;
}
}

@media (max-width: 992px) {
  .container-wrapper {
    background: white;
}
}

@media (max-width: 992px) {
  .navbar-collapse {
    background: white;
}
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}